<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-dark container-fluid mb-5">
  

<a class="nav-link active text-white" aria-current="page" href="#"><i class="bi bi-bag-check-fill text-white" style="font-size: 2rem"></i></a>

  <a class=" nav-link text-white" aria-current="page" href="/productos/formCarga">Cargar Producto</a>
       
          <a class="text-white nav-link" href="/productos/tabla">Modificar</a>

</nav>